.gradle
.idea
build
deploy
out
logs
*.iml
.DS_Store
.classpath
.project
.settings/org.eclipse.buildship.core.prefs
bin/.gitignore
/.settings/
/bin/
test/pdis-invoice-service/
test/report/
test/temp/
test/invoiceServicePerformance.jtl
test/jmeter.log
